//////////////////////
// Acme Users PG
// ex: layout.pug
//////////////////////

html(lang='en')
  head
    meta(name='author' content='Colin FitzGerald')
    title Acme Users PG

    <!-- Bootstrap core CSS -->
    link(href='/vendor/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
    <!-- Custom styles -->
    link(href='/stylesheets/style.css' rel='stylesheet')
    <!-- Google Fonts -->
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700|Zilla+Slab:300,400,700' rel='stylesheet')

    body
      div.container
        div.page-header
          h1 Acme Users #[small PG!]

        ul.nav.nav-pills
          li(class = (nav === 'home' ? 'active' : ''))
            a(href='/') Home
          li(class = (nav === 'users' ? 'active' : ''))
            a(href='/users') Users (#{userCount})
          li(class = (nav === 'managers' ? 'active' : ''))
            a(href='/users/managers') Managers (#{managerCount})

        block content

//////////////////////
// Acme Users PG
// ex: index.pug
// extends layout.pug
//////////////////////

extends layout

block content

  form.well.well-lg(method='POST' action='/users')
    div.form-group
      div.input-group
        input.form-control(name='name' placeholder='add the name of a new user...')
        span.input-group-addon
          // AKWARD WHITESPACE CONTROL HERE!
          input#isManager(type='checkbox' name='is_manager')
          |
          |
          label(for='is_manager') Is Manager?
        span.input-group-btn
          button.btn.btn-success Add User
